/* Colores */
:root {
    --color-1: #56828e;
    --color-2: #292929;
    --color-3: #ffffff;
    --color-4: #3875f0;
    --color-5: #6f42c1;
    --color-6: #dc3545;
    --color-7: #fd7e14;
    --color-8: #28a745;
    --color-9: #17a2b8;
    --color-10: #ffc107;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Playfair Display', serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 100vh;
}

.main::-webkit-scrollbar {
    display: none;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: var(--color-1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    font-size: 3rem;
    font-weight: 900;
}

.navbar__logo:hover .navbar__logo__text {
    color: var(--color-3);
}

.navbar__logo__text {
    color: var(--color-2);
    transition: all 0.3s ease;
}

.navbar__menu {
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar__menu__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu__list__item {}

.navbar__menu__list__item__link {
    color: var(--color-2);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navbar__menu__list__item__link:hover {
    color: var(--color-3);
}

.navbar__menu__list__item:last-child {
    padding-left: 1rem;
    border-left: 1px solid var(--color-2);
}

/* Section */
.section {
    font-family: 'Raleway', sans-serif;
    scroll-snap-align: start;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Section colors */
.section:nth-child(1) {
    background-color: var(--color-1);
}

.section:nth-child(2) {
    background-color: var(--color-3);
}

.section:nth-child(3) {
    background-color: var(--color-2);
}

.section:nth-child(4) {
    background-color: var(--color-1);
}

.section:nth-child(5) {
    background-color: var(--color-3);
}

/* Home */
.home__welcome {
    display: flex;
    align-items: center;
}

.home__img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-right: 2rem;
    overflow: hidden;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    animation: shadow 3s infinite ease;
    background-color: var(--color-3);
}

/* Efecto de rotación de la sombra */
@keyframes shadow {
    0% {
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
    }

    100% {
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1);
    }
}

.home__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.home__title {
    line-height: 1;
    font-size: 2rem;
    color: var(--color-2);
}

.home__title__name {
    color: var(--color-3);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.home__title__job {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* About me */
.about__text {
    font-family: Arial, sans-serif;
    /* Fuente general */
    color: var(--color-2);
    /* Color general */
    font-size: 1.4rem;
    /* Tamaño general */
    max-width: 800px;
    /* Ancho máximo */
    margin: 0 3rem;
    /* Centrado */
    text-align: justify;
    /* Justificado */
}

.pipo,
.mathematics,
.programming,
.data-science,
.machine-learning,
.generative-ai,
.ai {
    font-weight: bold;
    /* Negrita para resaltar */
}

.about__img {
    margin-top: 3rem;
}

/* Skills */
.skills {
    display: flex;
}

.skills__img {
    width: 30%;
    padding-left: 3rem;
    border-left: 1px solid var(--color-2);
}

.skills__table {
    display: flex;
    gap: 2rem;
    width: 70%;
    padding: 0 3rem;
}
.skills_container__vertical{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.skills_card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 20px 3px rgba(165, 52, 52, 0.1);
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
    background-color: var(--color-3);
}
.skills_card:hover {
    /* efecto de rotación */
    transform: scale(1.1);
    transform: perspective(1000px) rotateY(10deg);
    box-shadow: 0 8px 12px rgba(179, 57, 57, 0.1);
}

.skills_card__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-2);
    margin-bottom: 1rem;
}

.skills_card__content li {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-2);
    font-family: 'Roboto', sans-serif;
}